<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='forms.css')}}">
</head>

<body>
    <br><br>

    <h1 align='center'>Login</h1>

    <form align='center' method="post">
        <input type="email" autocomplete="off" name="email" placeholder="Email Address" id=""><br><br>
        <input type="password" name="password" id="" placeholder="Password"><br><br>
        <button type="submit">Login</button><br><br>
        <a href="/signup">Dont have an account? Create one here!</a>
    </form>
</body>

</html>